.tabel
{
	display: block;
	float: left;
	width: 580px;
	height: auto;
	margin-top: 45px;
	background: transparent;
}
.first-row-top
{
	display: block;
	float: left;
	width: 578px;
	border-top: 2px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 2px solid #000000;
	height: auto;
	font-family: arial, 'sans-serif';
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #000000;	

}	
.first-row
{
	display: block;
	float: left;
	width: 578px;
	height: auto;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	font-family: arial, 'sans-serif';
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	
}
.second-row
{
	display: block;
	float: left;
	width: 578px;
	height: auto;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	font-family: arial, 'sans-serif';
	font-size: 14px;
	font-weight: bold;
	color: #000000;	
}
.row1_1
{
	display: block;
	float: left;
	width: 200px;
	height: auto;
	text-align: center;
	padding-top: 0;
}
.row1_2
{
	display: block;
	float: left;
	width: 360px;
	height: auto;
	text-align: left;
	padding-top: 0;
	padding-left: 10px;
	border-left: 1px solid #000000;
}